@media only screen and (max-width: 750px) {
  .Hero {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 405px) {
  .pre {
    font-size: 12px;
  }
}

@media only screen and (max-width: 730px) {
  .card {
    margin-top: 10px;
  }
}