@media only screen and (max-width: 750px) {
  .textcontent {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 0px;
  }
}

.background {
  background-image: url('../Assests/Quotemarks-left.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5%; 
  opacity: 1; 
  position: relative;
}
